.header{
    height: 30vh;
    width: 100%;
    margin: auto;
    display: flex;
}
.container_left{
    width: 100%;
    color: var(--color-white);
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    background-image: url('/images/image2.png');
    background-size: cover;
    background-position: 50% 50%;
}
.first_line, .second_line{
    line-height: 3rem;
    padding: 0 10%;
    width: 100%;
}
.first_line{
    font-size: 1.5rem;
}

.second_line{
    font-size: 2rem;
    font-weight: bold;
}
.waves{
    display: none;
}


@media(min-width: 768px){
    .header{
        height: 50vh;
    }
    .container_left{
        width: 50%;
        background-image: none;
        background-color: var(--color-black);
    }
    .first_line, .second_line{
        margin-left: 20%;
        width: 70%;
    }
    .first_line{
        font-size: 2rem;
    }
    .second_line{
        font-size: 3rem;
    }
    .container_right{
        height: 100%;
        width: 50%;
        background-image: url('/images/image2.png');
        background-size: cover;
        background-position: 50% 50%;
    }
    .waves{
        display: block;
        height: 100%;
    }
}